.form-modify-workout {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
    color: #fff;
}

.form-modify-workout form {
    display: flex;
    flex-flow: column wrap;
    max-width: 100%;
    background-color: #34495E;
    border-radius: 20px;
    padding: 10px 20px;
}

.error{
    color: #CD853F;
    font-weight: 700;
    margin: 10px 0 0 0;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
    background-color: #fff;
    box-shadow: 1px 1px 3px  rgba(0, 0, 0, 0.06);
    border: none;
    font-size: 16px;
    padding: 15px;
    height: 0px;
}

.twoInputs{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}