

.workout{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  padding: 0 20px;
  width: 800px;
  gap: 20px;
  background-color: #fff;
  border-radius: 15px;
  

}

.date, .timeSpent, .distance, .maxSpeed, .averageSpeed, .actions{
  display: flex;
  justify-content: center;
  align-items: center;
}

.date{
  width: 120px;
}

.timeSpent{
  width: 140px;
}

.distance{
  width: 100px;
}

.maxSpeed{
  width: 140px;
}

.averageSpeed{
  width: 180px;
}

.actions{
  width: 150px;
  gap: 10px;
}

