.text-field {
    margin: 10px 0;
}

.text-field label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.text-field input {
    background-color: #fff;
    box-shadow: 10px 10px 30px  rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 20px;
    box-sizing: border-box;
    height: 10px;
}