.text-field {
  margin: 3px 0;
}

.text-field label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

.text-field input {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 15px;
  box-sizing: border-box;
  height: 5px;
}
